<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PySumpMon - Sump Pump Monitoring</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">PySumpMon</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Distance Logs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Event Notification</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% if event_suppression %}
                    <p>
                        Event Notifications are suppressed until
                        {{ event_suppression.suppress_until.strftime(
                        '%I:%M %p')}} UTC.
                    </p>
                    {% else %}
                    <p>Event Notifications are not currently suppressed.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h1>Sump Pump Water Distance Log</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% if distance_logs %}
                    <table class="table-bordered">
                        <tr>
                            <th>Water Distance (cm)</th>
                            <th>Timestamp</th>
                        </tr>
                        {% for distance_log in distance_logs %}
                        <tr>
                            <td>{{ distance_log.water_distance_cm}}</td>
                            <td>{{ distance_log.timestamp}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                    {% else %}
                    <p>No Records</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>